{% extends "base.html" %}
{% block title%} - Вход {% endblock %}

{% block jquery %}
  $('#nav-login').addClass('active');
{% endblock %}
{% block style %}

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

{% endblock %}
{% block content %}

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
{% else %}

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

<form method="post" action="" class="form-signin">
{% csrf_token %}
<dl class="register">   
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Вход" / class="clearfix">
<br/><br/>
<ul>
    <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>
    <li><a href="{% url 'registration_register' %}">Регистрация</a></li>
</ul> 
</form>
    
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

 
  
{% endif %}
{% endblock %}
