{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<p>Пожалуйста уточните адрес вашей электронной почты, и вам будут направлены инструкции по сбросу пароля.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">Адрес электронной почты:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}