{% extends "base.html" %}
{% block title %}Установка нового пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста введите ваш новый пароль дважды.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Сброс пароля произошел неудачно.</h1>
        <p>Ссылка для сброса пароля оказалась неверной, <br />
        возможно потому, что уже было использована. <br />
        Пожалуйста, сделайте новый запрос на сброс пароля.</p>
    {% endif %}
{% endblock %}