{% extends "base.html" %}

{% block extrahead %}
{% block title %}{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap; 

    function init() { 

        // Инициализация карты
        myMap = new ymaps.Map ("map", {
            center: [ymaps.geolocation.latitude, ymaps.geolocation.longitude],
            zoom: 7,
            behaviors: ['default', 'scrollZoom']
        }); 
        

        // Отрисовка переданных из бд меток
        {% for placemark in placemarks %}
        var myPlacemark = new ymaps.Placemark([{{placemark.lat}},{{placemark.lon}}], {
            iconContent: "{{placemark.name}}", 
            balloonContent: "{{placemark.descr}}",   
        }, 
        {balloonContentLayout: ymaps.templateLayoutFactory.createClass([
                    '<div id="menu">',
                        '<div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">',
                        '</div>',
                        '<div id="menu-list">',
                            '<label class="control-label">Название</label>',
                            '<input class="input-xlarge" type="text" name="name" tabindex="1" placeholder="Название объекта" value="$[properties.iconContent]"/>',
                    
                            '<label class="control-label">Описание</label>',
                            '<textarea rows="3" class="input-xlarge" name="description" tabindex="2" placeholder="Описание объекта">$[properties.balloonContent]</textarea>',
                        '</div>',
                        '<button type="submit" id="save" class="btn btn-primary">Сохранить</button>',
                        '<button type="delete" id="delete" class="btn" style="margin-left: 10px">Удалить</button>',
                    '</div>'].join(' '), {
                build: function () {
                    this.constructor.superclass.build.call(this);

                    geoObject = this.geoObject = this.getData().geoObject;


                    
                    $('#save').bind('click', $.proxy(this.onSave,this));
                    $('#delete').bind('click', $.proxy(this.onDelete,this));
                },
                clear: function () {
                    $('#save').unbind('click');
                    $('#delete').unbind('click');
                    this.constructor.superclass.clear.call(this);
                },
                onDelete: function () {
                    $.post("{% url sticktomap.views.delete %}", {
                            id: geoObject.properties.get('id')
                        }, function(data){
                                alert("Deleted from database");
                                myMap.geoObjects.remove(geoObject);
                        });
                },
                onSave: function () {
                    geoObject.properties.set({
                        iconContent: $('input[name="name"]').val(),
                        balloonContent: $('textarea[name="description"]').val(),                       
                    });


                    var geoobjectString = $('input[name="name"]').val() + ' ' + $('textarea[name="description"]').val() + ' ' + geoObject.properties.get('id');

                    $.post("{% url sticktomap.views.update %}", {
                        geoobjectString: geoobjectString
                        }, function(data){
                            alert("Saved to database.");
                    });
                      
                }
            }
        )
        }
        );

        myPlacemark.properties.set({ id: {{placemark.id}} });

        myMap.geoObjects.add(myPlacemark);
        {% endfor %}

        // ajax csrf token handling
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        myMap.events.add('click', function (e) {
            if (!myMap.balloon.isOpen()) {

                var coords = e.get('coordPosition');
                myMap.balloon.open(coords, {                        
                    contentBody:   '<div id="menu">\
                                    <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"></div>\
                                        <div id="menu_list">\
                                            <label>Название:</label> <input type="text" class="input-medium" name="icon_text" /><br />\
                                            <label>Описание:</label> <input type="text" class="input-medium" name="balloon_text" /><br />\
                                        </div>\
                                        <button type="submit" class="btn btn-success">Сохранить</button>\
                                    </div>'
                });
                     
                var myPlacemark = new ymaps.Placemark(coords);
 
                //Сохраняем данные из формы     
                $('#menu button[type="submit"]').click(function () {
                    var iconText = $('input[name="icon_text"]').val(),
                        balloonText = $('input[name="balloon_text"]').val();
            
                
                    //Добавляем метку на карту  
                    myMap.geoObjects.add(myPlacemark);

                
                    //Изменяем свойства метки и балуна
                    myPlacemark.properties.set({
                        iconContent: iconText,
                        balloonContent: balloonText,                       
                    });

                    myPlacemark.options.set({
                        hideIconOnBalloonOpen: true,
                    })
                
                    
                    var placemarkString = iconText + ' ' + balloonText + ' ' + coords[0].toPrecision(6) + ' ' + coords[1].toPrecision(6);
                        

                    $.post("{% url sticktomap.views.save %}", {
                        placemarkString: placemarkString
                        }, function(data){
                            alert("Succes: " + data["id"]);
                            myPlacemark.properties.set({ id: data["id"] });
                    });
                    
                    
                    //Закрываем балун
                    myMap.balloon.close(); 
                });       
                
            } else {
                myMap.balloon.close();
            }
        });
    }
</script>
{% endblock %}


{% block content %}
<div class="hero-unit">
        <div class="container">
            <p>Ваши метки</p>
            <div id="map" style="width: 600px; height: 400px"></div>
        </div>
    </div>

{% endblock %}
